contributions filter=lfs diff=lfs merge=lfs -text
contributions/main_0000.zkey filter=lfs diff=lfs merge=lfs -text
contributions/main_0001.zkey filter=lfs diff=lfs merge=lfs -text
contributions/main_0004.zkey filter=lfs diff=lfs merge=lfs -text
contributions/main_0002.zkey filter=lfs diff=lfs merge=lfs -text
contributions/main_0003.zkey filter=lfs diff=lfs merge=lfs -text
